.class_type{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class_type--container{
    background: linear-gradient(to right, #3b01e9, #240090, #240090);
    margin-right: 2rem;
    padding: 2rem;
    height: 20rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    color: #eee;
}

.class_type--container a{
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    transition: all .4s;
}

.class_type--container a{
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    transition: all .4s;
}

.class_type--container a:hover{
    background-color: white;
    color: #240090;
}

.class_type--container p{
    font-size: 1.25rem;
    letter-spacing: 2px;
    font-weight: bold;
}