.classcard__container{
    padding: 2rem;
    width: 60rem;
    color: var(--light-primary-white);
    border-radius: 7px;
    background: linear-gradient(to right bottom,var(--night-primary-purple),var(--night-secondary-purple-dark-1));
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    margin-bottom: 2rem;
}

.classcard__container p{
    margin: .75rem 0;
    font-weight: bold;
    font-size: 1.25rem;
}