*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__container{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    font-weight: bold;
}

.header__container--btn{
    padding: 7.5px;
    background-color: inherit;
    color: white;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
}

.header__container--btn:hover{
    background-color: white;
    color: black;
    border: 2px solid white;
}

.footer__container{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}

.homepage__container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage__container h2{
    margin-bottom: 10px;
}

.homepage__link--container{
    display: flex;
    margin-top: 10px;
}

.homepage__link--container a{
    flex:1;
    width: 150px;
    margin: 0 10px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 7.5px;
}

.homepage__container a:hover{
    background-color:black;
    color: white;
}


.form{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form label{
    text-transform: capitalize;
}

.form input{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #111111;
}

.form button{
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border: 1px solid transparent;
    border-radius: 5px;

    margin-top: 10px;
}

.form button:hover{
    border: 1px solid black;
    color: black;
    background-color: white;
}