.quizlist__main {
    min-height: 90vh;
}

.quizlist__h1--container {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.quizlist__h1 {
    border-radius: 10px;
    border: 2px solid #3500d3;
    color: #3500d3;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
}

.quizlist__a {
    border-radius: 10px;
    color: white;
    border: 2px solid #3500d3;
    background-color: #3500d3;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.75rem 2rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-left: 2rem;
}

.quizlist__container {
    padding: 7.5rem 5rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quizlist__quiz--card {
    background: linear-gradient(to right bottom, #3500d3, #240090);
    padding: 3rem;
    border-radius: 5px;
    width: 60rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}

.quizlist__quiz--card a {
    text-decoration: none;
}

.quizlist__quiz--card a h1 {
    color: white;
    font-size: 2rem;
}

.quizlist__quiz--card a p {
    color: white;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}
